h1 {
    font-size: 50px;
    font-weight: 600;
    color: #DB5561;
}
.landing {
    text-align: left;

}
.highlight-span {
    color: #23BCBA;
    font-weight: 600;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #DB5561;
    border-color: #DB5561;
}

/* medium */
@media only screen and (min-width: 768px) {
    .landing {
        padding-left: 80px;
    }
}
    