body {
    /*
    background-color: #DB5561;
    color: white;
    */
    background-color: white;
    color: #50474A;
    margin-bottom: 75px;
}
img {
    max-height: 100%;
}
h4 a {
    color: #23BCBA;
}
.navbar a {
    /* color: white; */
    color: #50474A;
}
.navbar a:hover {
    /* color: #50474A; */
    color: #DB5561;
}
#work-title-div {
    /* height: 30vh; */
}
.cover-container {
    height: 20vh;
    overflow: hidden; 
    background-size: cover;
    background-repeat: no-repeat;   
    margin: auto;
}
#portfolio-cover {
    /* background-image: url(../images/ecycle-mockup-992.png);
    background-position: 50% 0; */
    /* background-color: #23BCBA; */

    /* color: white; */
    color: #DB5561;
    font-weight: 600;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* text-shadow: 0 0 15px #a8a8a8; */
}
.work-showcase {
    margin: auto;
}

.picture-container {
    width: 100%;
    height: 300px;
    overflow: hidden; 
    background-size: cover;
    background-repeat: no-repeat;   
    margin: auto;
    position: relative;
}
a span {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;

    color: rgb(255, 255, 255, 0);
    font-size: 30px;
    font-weight: 600;
    transition: 0.4s;
}
span:hover {
    background-color: rgba(48, 48, 48, 0.8);
    color: rgb(255, 255, 255, 1);
}

#ecycle-picture {
    background-image: url(../images/ecycle-mockup-992.png);
}
#antoillier-picture {
    background-image: url(../images/antoillier-992.png);
    background-position: 50% 50%;
}
#dogs-picture {
    background-image: url(../images/dogs-icon-cover-992.png);
    background-position: 50% 50%;
    border: solid 1px black;
}
#seneca-av-picture {
    background-image: url(../images/seneca-av-cover-992.png);
    background-position: 50% 50%;
}

.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.mobile-only {
    display: block;
}

/* Small */
@media only screen and (min-width: 576px) {
    /* #portfolio-cover {
        font-size: 70px;
    } */
    .mobile-only {
        display: none;
    }

}

/* Medium */
@media only screen and (min-width: 768px) {
    /* #portfolio-cover {
        font-size: 70px;
    } */
}

/* Large */
@media only screen and (min-width: 992px) {
    .cover-container {
        height: 20vh;
    }
    .work-showcase {
        align-items: center;
    }
}

/* Extra Large */
@media only screen and (min-width: 1200px) {

}
