body {
    margin-bottom: 75px;
}
h1 {
    font-weight: 600;
}
.cover-container {
    height: 30vh;
    overflow: hidden; 
    background-size: cover;
    background-repeat: no-repeat;   
    margin: auto;

    color: white;
    font-weight: 800;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 0 0 15px #a8a8a8;
}
#work-info-div {
    margin: 50px 20px;
}
#work-info-div {
    text-align: left;
}
#ecycle-cover {
    background-image: url(../images/ecycle-mockup-992.png);
    background-position: 50% 0;
}
#antoillier-cover {
    background-image: url(../images/antoillier-992.png);
    background-position: 50% 50%;
}
#dogs-cover {
    background-image: url(../images/dogs-icon-cover-992.png);
    background-position: 50% 50%;
}
#seneca-av-cover {
    background-image: url(../images/seneca-av-cover-992.png);
    background-position: 50% 50%;
}

/* carousel styles */
.carousel {
    border: black solid 1px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: #a8a8a8 solid 1px;
}
.carousel-indicators .active {
    background-color: #a8a8a8 ;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
} */

#ecycle-prototype-div {
    padding-top: 120px;
}
#ecycle-prototype {
    padding-top: 30px;
}

/* small */
@media only screen and (min-width: 576px) {
    #ecycle-cover {
        font-size: 100px;
    }
    #antoillier-cover {
        font-size: 80px;
    }
    #dogs-cover {
        font-size: 100px;
    }
    #seneca-av-cover {
        font-size: 80px;
    }

    

}

/* Medium */
@media only screen and (min-width: 768px) {
    #ecycle-cover {
        font-size: 150px;
    }
    #antoillier-cover {
        font-size: 100px;
    }
    #dogs-cover {
        font-size: 150px;
    }
    #seneca-av-cover {
        font-size: 100px;
    }

}

/* Large */
@media only screen and (min-width: 992px) {

    .cover-container {
        height: 45vh;
    }
    #ecycle-cover {
        background-image: url(../images/ecycle-mockup.png);
        background-position: 50% 0;
    }
    #antoillier-cover {
        background-image: url(../images/antoillier.png);
        background-position: 50% 40%;

        font-size: 120px;
    }
    #dogs-cover {
        background-image: url(../images/dogs-icon-cover.png);
        background-position: 50% 50%;
    }
    #seneca-av-cover {
        background-image: url(../images/seneca-av-cover.png);
        background-position: 50% 50%;
    }
    
}

/* Extra Large */
@media only screen and (min-width: 1200px) {
    #antoillier-cover {
        font-size: 140px;
    }
}
